.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  transition: background-color 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
}

.Cell-lit {
  background-color: lightseagreen;
}